<div class="page-header">
  <h1>Mini Blog Rails</h1>
</div>
<div style="overflow-y:scroll; overflow-x:hidden; width:600px; height: 300px;">
  <div id="listPosts">
    <% @posts.each do |post| %>
      <p>
          <%= post.description %><br/>
          <%= post.author %>
      </p> 
    <% end %>
  </div>
</div>
<div>
  <div>
    <%= form_for(@post, remote: true, format: :json, html: {class: :post_form}) do |f| %>

      <div id="error_explanation" style='display:none;'>
        <ul>
          <% if @post.errors.any? %>
            <% @post.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="field">
        <%= label_tag(:author,"Autor:") %>
        <%= f.text_field :author %>
        <%= label_tag(:description,"Descrição:") %>
        <%= f.text_area :description %>
      </div>
      <div class="actions">
        <%= f.submit "Enviar Postagem" %>
      </div>
    <% end %>
  </div>
</div>